<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="tool" content="leanote-desktop-app">
<title>python 技术分享</title>
<style>
.tab{font-size:12px; margin-bottom: 10px;}
.tab a{cursor:pointer;cursor:pointer;display:inline-block;margin-right:10px;color:#000}#tab-html{color:#ccc}

.content-container .content-html{visibility: hidden;}
.content-container.html .content-markdown{display:none}
.content-container.html .content-html{display:block; visibility: visible;}
.content-container.html #tab-markdown{color:#ccc}
.content-container.html #tab-html{color:#000}
.content-markdown {overflow: auto;}
textarea {display: none;}

*{font-family:"lucida grande","lucida sans unicode",lucida,helvetica,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;}

body {
  margin: 0;
}

/*公用文字样式*/
h1{font-size:30px}h2{font-size:24px}h3{font-size:18px}h4{font-size:14px}
.note-container{
    width:850px; 
    margin:auto;
    padding: 10px 20px;
    box-shadow: 1px 1px 10px #eee;
}
#title {
  margin: 0;
}
table {
    margin-bottom: 16px;
    border-collapse: collapse;
}
table th, table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}
table th {
    font-weight: bold;
}

table tr {
    background-color: none;
    border-top: 1px solid #ccc;
}
table tr:nth-child(2n) {
    background-color: rgb(247, 247, 249);
}
.mce-item-table, .mce-item-table td, .mce-item-table th, .mce-item-table caption {
  border: 1px solid #ddd;
  border-collapse: collapse;
  padding: 6px 13px;
}
blockquote {
  border-left-width:10px;
  background-color:rgba(128,128,128,0.05);
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  padding:15px 20px;
  border-left:5px solid rgba(128,128,128,0.075);
}
blockquote p {
  margin-bottom:1.1em;
  font-size:1em;
  line-height:1.45
}
blockquote ul:last-child,blockquote ol:last-child {
  margin-bottom:0
}
pre {
  padding: 18px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
  display: block;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  white-space: nowrap;
  background-color: #f9f2f4;
  border-radius: 4px;
}
.footnote {
  vertical-align: top;
  position: relative;
  top: -0.5em;
  font-size: .8em;
}

hr {
  margin:2em 0
}
img {
  max-width:100%;
  display: block;
  margin: auto;
}
pre {
  word-break:break-word
}
p,pre,pre.prettyprint,blockquote {
  margin:0 0 1.1em
}
hr {
  margin:2em 0
}
img {
  max-width:100%
}
.sequence-diagram,.flow-chart {
  text-align:center;
  margin-bottom:1.1em
}
.sequence-diagram text,.flow-chart text {
  font-size:15px !important;
  font-family:"Source Sans Pro",sans-serif !important
}
.sequence-diagram [fill="#ffffff"],.flow-chart [fill="#ffffff"] {
  fill:#f6f6f6
}
.sequence-diagram [stroke="#000000"],.flow-chart [stroke="#000000"] {
  stroke:#3f3f3f
}
.sequence-diagram text[stroke="#000000"],.flow-chart text[stroke="#000000"] {
  stroke:none
}
.sequence-diagram [fill="#000"],.flow-chart [fill="#000"],.sequence-diagram [fill="#000000"],.flow-chart [fill="#000000"],.sequence-diagram [fill="black"],.flow-chart [fill="black"] {
  fill:#3f3f3f
}
ul,ol {
  margin-bottom:1.1em
}
ul ul,ol ul,ul ol,ol ol {
  margin-bottom:1.1em
}
kbd {
  padding:.1em .6em;
  border:1px solid rgba(63,63,63,0.25);
  -webkit-box-shadow:0 1px 0 rgba(63,63,63,0.25);
  box-shadow:0 1px 0 rgba(63,63,63,0.25);
  font-size:.7em;
  font-family:sans-serif;
  background-color:#fff;
  color:#333;
  border-radius:3px;
  display:inline-block;
  margin:0 .1em;
  white-space:nowrap
}
.toc ul {
  list-style-type:none;
  margin-bottom:15px
}
.m-todo-item {
  list-style: none;
}
pre code {
  padding: 0;
  color: inherit;
  white-space: pre-wrap;
  background-color: inherit;
  border-radius: 0;
}
</style>
<!-- 该css供自定义样式 -->
<link href="../leanote-markdown.css" rel="stylesheet">
</head>

<body>

	<div class="note-container">
		<h1 class="title" id="leanote-title">python 技术分享</h1>
		<div class="content-container html" id="content-container">
			<!-- 切换 -->
			<div class="tab"><a id="tab-markdown">Markdown</a><a id="tab-html">HTML</a></div>
			<textarea id="leanote-content-markdown">

## 一、人生苦短 我用Python

**Python是一种代表简单主义思想的语言。**
**阅读一个良好的Python程序就感觉像是在读英语一样，尽管这个英语的要求非常严格！**
**Python的这种伪代码本质是它最大的优点之一。**
**它使你能够专注于解决问题而不是去搞明白语言本身。**

1. ***<font color=blue>python 简介</font>***
    1. 概括<br>
    Python确实是一种十分精彩又强大的语言。
    它合理地结合了高性能与使得编写程序简单有趣的特色---简单
    2. 易学<br>
    就如同你即将看到的一样，Python极其容易上手。前面已经提到了，Python有极其简单的语法。
    3. 免费、开源<br>
    Python是FLOSS（自由/开放源码软件）之一。简单地说，你可以自由地发布这个软件的拷贝、阅读它的源代码、对它做改动、把它的一部分用于新的自由软件中。FLOSS是基于一个团体分享知识的概念。这是为什么Python如此优秀的原因之一——它是由一群希望看到一个更加优秀的Python的人创造并经常改进着的。
    4. 高层语言<br>
    当你用Python语言编写程序的时候，你无需考虑诸如如何管理你的程序使用的内存一类的底层细节。可移植性
    由于它的开源本质，Python已经被移植在许多平台上（经过改动使它能够工作在不同平台上）。如果你小心地避免使用依赖于系统的特性，那么你的所有Python程序无需修改就可以在下述任何平台上面运行。
    这些平台包括Linux、Windows、FreeBSD、Macintosh、Solaris、OS/2、Amiga、AROS、AS/400、BeOS、OS/390、z/OS、Palm OS、QNX、VMS、Psion、Acom RISC OS、VxWorks、PlayStation、Sharp Zaurus、Windows CE甚至还有PocketPC！
    5. 解释性<br>
    一个用编译性语言比如C或C++写的程序可以从源文件（即C或C++语言）转换到一个你的计算机使用的语言（二进制代码，即0和1）。这个过程通过编译器和不同的标记、选项完成。当你运行你的程序的时候，连接/转载器软件把你的程序从硬盘复制到内存中并且运行。
    而Python语言写的程序不需要编译成二进制代码。你可以直接从源代码 运行 程序。在计算机内部，Python解释器把源代码转换成称为字节码的中间形式，然后再把它翻译成计算机使用的机器语言并运行。事实上，由于你不再需要担心如何编译程序，如何确保连接转载正确的库等等，所有这一切使得使用Python更加简单。由于你只需要把你的Python程序拷贝到另外一台计算机上，它就可以工作了，这也使得你的Python程序更加易于移植。
    6. 面向对象<br>
    Python即支持面向过程的编程也支持面向对象的编程。
    在面向过程的语言中，程序是由过程或仅仅是可重用代码的函数构建起来的。在面向对象的语言中，程序是由数据和功能组合而成的对象构建起来的。与其他主要的语言如C++和Java相比，Python以一种非常强大又简单的方式实现面向对象编程。
    7. 可扩展性<br>
    如果你需要你的一段关键代码运行得更快或者希望某些算法不公开，你可以把你的部分程序用C或C++编写，然后在你的Python程序中使用它们。
    8. 可嵌入性<br>
    你可以把Python嵌入你的C/C++程序，从而向你的程序用户提供脚本功能。
    9. 丰富的库<br>
    Python标准库确实很庞大。它可以帮助你处理各种工作，包括正则表达式、文档生成、单元测试、线程、数据库、网页浏览器、CGI、FTP、电子邮件、XML、XML-RPC、HTML、WAV文件、密码系统、GUI（图形用户界面）、Tk和其他与系统有关的操作。记住，只要安装了Python，所有这些功能都是可用的。这被称作Python的“功能齐全”理念。

2. ***<font color=blue>Python 之禅</font>***
    ```python
    import this
    ```
    优美胜于丑陋。<br>
    显式胜于隐式。<br>
    简单胜于复杂。<br>
    复杂胜于难懂。<br>
    扁平胜于嵌套。<br>
    分散胜于密集。<br>
    可读性应当被重视。<br>
    尽管实用性会打败纯粹性，特例也不能凌驾于规则之上。<br>
    除非明确地使其沉默，错误永远不应该默默地溜走。<br>
    面对不明确的定义，拒绝猜测的诱惑。<br>
    用一种方法，最好只有一种方法来做一件事。<br>
    虽然一开始这种方法并不是显而易见的，但谁叫你不是 Python 之父呢。<br>
    做比不做好，但立马去做有时还不如不做。<br>
    如果实现很难说明，那它是个坏想法。<br>
    如果实现容易解释，那它有可能是个好想法。<br>
    命名空间是个绝妙的想法，让我们多多地使用它们吧！<br>
    
3. ***<font color=blue>Python 应用领域及常用开发包</font>***
    1. 算法<br>
        1. re 正则表达式的标准库。
        2. StringIO / cStringIO
        以读写文件的方式来操作字符串（有点类似于内存文件）。
        cStringIO 是 C 语言实现的，提供高性能；
        而 StringIO 是 Python 实现的，提供 Unicode 兼容性。
        3. chardet
        chardet 可以猜测任意一段文本的字符集编码。对于编码类型未知的文本，它会很有用。
        chardet 既可以作为模块来使用，也可以作为命令行工具来使用。
        4. math
        这个标准库顾名思义，封装了常用的数学函数（开方、指数、对数、三角函数、等）
        5. random
        这个标准库顾名思义，是用来进行随机数生成的
        6. hashlib
        在 Python 2.5 版本加入到标准库中。通过它，你可以很方便地计算各种散列值。
        它支持的哈希算法有：MD5 SHA1 SHA224 SHA256 SHA384 SHA512
        7. PyCrypto
        这个库包含了常见的对称加密算法（DES、AES、IDEA、等）、公钥加密算法（RSA、DSA、等）、散列算法（MD5、SHA1、RIPEMD、等）。
        8. pyOpenSSL
        OpenSSL 在加密领域可是大名鼎鼎。这个库使用 Python 对 OpenSSL 进行很薄的封装。
 
    2. 跨编程语言<br>
    Python 可以很容易地跟其它编程语言整合。整合之后，就可以在 Python 代码中使用其它编程语言的函数、模块、库，非常爽！
        1. ctypes
        你可以很方便地调用 C/C++ 动态库导出的函数，可以在 Python 中使用各种 C/C++ 的数据类型（比如指针）。
        2. SWIG
        这是一个很老牌的、有名气的工具，它可以把多种语言（Java、Python、C#、Ruby、PHP、Perl、Lua、Go、等）整合到 C/C++ 中。
        3. Cython
        这个工具可以让你用 Python 的语法写扩展模块的代码，然后它帮你把 Python 代码编译为本地动态库（机器码）。
        用它编译出来的扩展模块，其性能跟 C/C++ 编写的扩展模块相当。
        4. Jython
        通过 Jython 可以让 Python 代码运行在 JVM 上，并且可以调用其它的 JVM 语言的代码（比如 Java Scale）
        5. IronPython
        通过 IronPython 可以让 Python 代码运行在 dotNET 平台上，并且可以调用其它的 dotNET 语言的代码（比如 C# F#）
        6. PyObjC
        这是用 Python 封装 Mac OS X 上的 Objective-C 库。

    3. 操作系统相关
        1. os
        这是一个非常基本的标准库，提供了常见的操作系统相关操作。
        2. shutil
        相对于 os 标准库，shutil 标准库提供了一些比较高级的文件和目录操作（目录递归复制、目录递归删除、目录压缩打包、等）
        3. fnmatch
        这个标准库用于匹配文件名（支持通配符）
        4. tempfile
        使用这个标准库，可以安全地生成临时文件或临时目录。
        5. subprocess / multiprocessing
        用于进程管理的标准库，可以启动子进程，通过标准输入输出跟子进程交互。
        6. signal
        用于进程信号处理的标准库。
        7. mmap
        提供了内存映射文件的支持。
        8. PyWin32
        这个第三方库封装了 Windows API 及 COM API。通过它可以方便地用 Python 进行 Windows 编程（调用 COM 组件、编写 Windows 服务、等）。
        9. syslog
        通过这个标准库，可以很方便地跟 POSIX 的 syslog 服务进行交互。
        10. PyInstaller
        PyInstaller 可以把你的 Python 代码制作成独立运行的程序（不依赖 Python 环境就可以运行）。
        该工具支持多种操作系统，包括：Windows、Linux、Mac OS X、Solaris、AIX、等。
        11. py2exe
        py2exe 的功能类似 PyInstaller，但只支持 Windows 平台。
        12. py2app
        它很类似于 py2exe，差别在于 py2exe 支持 Windows 平台，而 py2app 支持 Mac OS X 平台。
        13. EasyInstall / Setuptools
        这套工具可以帮助你进行第三方库的管理（下载、编译、安装、升级、卸载）

    4. Web 开发<br>
    如今 Web 开发很火，俺把 Web 相关的单独分一类。
        1. httplib / httplib2 / http.request / urllib.parse
        这几个库可以进行各种 HTTP 客户端请求（GET、POST、等）。
        Python2 的模块名叫 httplib / httplib2
        Python3 模块名改为 http.request / urllib.parse
        2. SimpleHTTPServer / http.server
        提供轻量级 HTTP Server 的标准库。
        Python2 的模块名叫 SimpleHTTPServer
        Python3 模块名改为 http.server
        3. Django
        在 Python 社区，Django 是目前最有影响力的 Web 开发框架。该框架很重型，内置了 Web 服务端开发常用的组件。
        Django 应用范围很广，比如 Google 的 Web 开发平台 GAE 就支持它。
        Django 完全支持前面提到的 Jython 运行环境，可以运行在任何 J2EE 服务器上。
        4. Tornado
        这是 FriendFeed 开发的 Web 框架。FriendFeed 被 Facebook 收购之后，该框架被开源。
        5. Flask
        这是一个很轻量级的 Web 框架，但是扩展性很好。
        6. Pyjamas / pyjs
        这是从 GWT（Google Web Toolkit）移植的第三方库。提供了 Python 到 JS 的编译，AJAX 框架等功能。 Pyjamas 甚至能用来开发桌面 GUI 应用。
        7. pyjaco
        这也是一个 Python 到 JavaScript 的编译工具。
        8. webbrowser
        操纵当前系统的默认浏览器，访问指定 URL 的页面。
        9. pyv8
        v8 是 Google 开发的 JavaScript 解释引擎。这是对 v8 引擎的 Python 封装。
        10. PyWebKitGtk
        WebKitGtk 是一个基于 WebKit 的 Web 渲染引擎。这是 WebKitGtk 的 Python 封装。

    5. 网络编程
        1. Scapy
        这是一个底层的网络库，可以在不同协议层次构造网络数据包（包括链路层、网络层、传输层），还支持 Sniffer 抓包。
        搞网络安全的网友应该会喜欢这个库。
        2. socket
        Python 标准库很早就提供了对 socket 编程的支持。
        这个标准库是对伯克利套接字进行简单的封装，其 API 基本上跟 BSD SOCKET 一一对应。
        3. asyncore
        这个标准库提供了异步 SOCKET 的支持。
        4. asynchat
        这个标准库基于上述的 asyncore，提供更高层的 API，简化异步通讯编程。
        5. ftplib
        封装 FTP 协议（文件传输）的标准库
        6. smtplib
        封装 SMTP 协议（邮件发送）的标准库
        7. imaplib
        封装 IMAP 协议（邮件接收）的标准库
        8. poplib
        封装 POP3 协议（邮件接收）的标准库
        9. PycURL
        cURL 是一个功能很强的网络库/网络工具，支持 N 多应用层协议。这是用 Python 封装的第三方库。
        关于 cURL，俺前几年写过一篇博文推荐它（在这里）。
        10. jabber.py
        Jabber（又称 XMPP）是IM（即时通信）协议的标准。这是用 Python 封装的第三方库。
        11. irclib
        IRC 是 Internet Relay Chat 的缩写。这是用 Python 封装的第三方库。
        12. json
        标准库，提供 JSON 格式的编码和解码。
        13. base64
        标准库，提供 Base16、Base32、Base64 格式的编码和解码。
        14. binhex
        标准库，提供 binhex4 格式的编码和解码。
        15. uu
        标准库，提供 uuencode 格式的编码和解码。
        16. Twisted
        这是一个基于 Python 网络通讯开发框架，有十多年历史，名气很大。
        它的某些设计类似于 C++ 的 ACE 框架。除了能用来进行传输层（TCP UDP）的开发，还提供了若干应用层协议（HTTP、XMPP、SSH、IRC、等）的支持。

    6. 数据库
    为了便于数据库开发，Python 社区制定了数据库的 API 规范（PEP 249）。
    只要是涉及到数据库操作，标准库和大部分第三方库都会遵循该规范。请看如下几个模块的示例代码。
        1. pyODBC
        pyODBC 封装了 ODBC API，通过它可以访问各种数据库（只要有 ODBC 驱动即可）。
        2. ceODBC
        又一个封装 ODBC API 的第三方库
        3. Jython
        Jython 前面提到过。它可以基于 JDBC 操作数据库。
        4. PyWin32
        PyWin32 前面提到过。它可以基于 ADO 操作数据库。
        5. IronPython
        IronPython 前面提到过。它可以基于 ADO.NET 操作数据库。
        6. MySQL for Python
        操作 MySQL 的第三方库。
        7. psycopg
        操作 PostgreSQL 的第三方库。
        8. psycopg
        操作 PostgreSQL 的第三方库。
        9. cx_Oracle
        操作 Oracle 的第三方库。
        10. pymssql
        操作微软 SQL Server 的第三方库。
        11. ibm-db
        操作 DB2 的第三方库。
        12. sqlite3
        sqlite3 从 Python 2.5 版本开始加入到标准库中。通过它，你可以很方便地操作 SQLite 数据库。
        SQLite 是一个很优秀的轻量级数据库，俺前几年写过一篇博文推荐它（在这里）。
        13. PyBSDDB
        操作 Berkeley DB 的第三方库。
        14. SQLAlchemy
        SQLAlchemy 支持的数据库有：MySQL、PostgreSQL、Sqlite、Oracle、MS SQL Server、Firebird、Sybase SQL Server、Informix、等。
        15. SQLObject
        SQLObject 支持的数据库有：MySQL、PostgreSQL、Sqlite、MS SQL Server、Firebird、Sybase SQL Server、SAP DB、等。
 
    7. 桌面 GUI 开发
        1. Tk 是一个跨平台的界面组件库。
        Tkinter / tkinter
        这是 Python 内置的标准库，封装了 Tcl/Tk 界面库。
        Python2 的模块名叫 Tkinter
        Python3 模块名改为 tkinter
        2. wxWidgets 是 C++ 开发的跨平台框架（不仅包括 GUI，还有其它功能）。
        wxPython
        在所有的 wxWidgets 的 Python 封装库中，这个是名气最大的。
        Ulipad（知名的国产的 Python IDE）就是基于 wxPython 开发的。
        3. PythonCard
        又一个基于 wxWidgets 的 GUI 库。
        4. GTK+ 全称是（GIMP Toolkit），由 C 开发的跨平台界面组件库。
        PyGTK
        这是 Python 对 GTK 的封装。
        5. Qt 是 C++ 开发的跨平台框架（不仅包括 GUI，还有其它功能）。
        PyQt
        这是 Python 对 Qt 的封装。
        PySide
        这也是 Python 对 Qt 的封装。
        6. FLTK 全称是（ Fast Light Tool Kit），由 C++ 开发的跨平台、轻量级界面组件库。
        PyFLTK
        这是 Python 对 FLTK 的封装。
        7. PyWin32
        PyWin32 前面提到过。它可以提供原生的 Windows GUI 界面。
        8. IronPython
        IronPython 前面提到过。它可以提供 dotNET 的 GUI 界面。
        9. Jython
        Jython 前面提到过。它可以提供基于 Java 的 Swing 界面。
        10. EasyGUI
        EasyGUI 这是一个很轻量级的库。跟其它 GUI 不同之处在于——没有事件驱动。
        11. PyGUI
        PyGUI 是一个更高层的 GUI 库，底层分别封装了 PyWin32（Windows 平台）、PyGTK（Linux 平台）、PyObjC（Mac OS X 平台）。
        12. Kivy
        跨平台的多媒体框架和界面库，用来开发比较炫的界面。
        除了支持桌面操作系统，还支持 Android / iOS，支持多点触摸。
        13. OcempGUI
        基于 PyGame 的一个跨平台 GUI 库。PyGame 下面会提到。
        14. matplotlib
        这是一个有名的图形库，主要用来绘制数学相关的图形。
        跟后面提到的 SciPy 整合可以起到类似 MATLAB 的效果。效果图在“这里”。
        15. Gnuplot.py
        这是 Python 对 gnuplot 的封装。gnuplot 的效果图在“这里”。
        16. PyQtGraph
        这是一个纯 Python 的库，依赖于 PyQt4 / PySide。效果图在“这里”。
        17. PyX
        这个库可以跟 TeX / LaTeX 无缝整合，支持导出为 PostScript / PDF 格式。适合用来制作报表。效果图在“这里”。
        18. Chaco
        这是一个商业公司维护的库，主要提供2维图表。

    8. 处理文件格式
        1. zipfile
        处理 zip 格式的标准库。
        2. bz2
        处理 bzip2 格式的标准库。
        3. gzip
        处理 gzip 格式的标准库。
        4. zlib
        处理 gzip 格式的标准库。
        5. tarfile
        处理 tar 格式的标准库。
        6. PyLZMA
        处理 7zip 格式的第三方库。
        7. rarfile
        处理 rar 格式的第三方库。
        8. msilib
        处理 msi 格式的标准库，从 Python 2.5 版本开始提供。
        9. xml.dom / xml.miniDom / xml.etree.ElementTree
        用 DOM（Document Object Model）方式处理 XML 文件的标准库。
        10. xml.sax / xml.parsers.expat
        用 SAX（Simple API for XML）方式处理 XML 文件的标准库。
        11. lxml
        著名的 C 语言库 libxml 和 libxslt 的 Python 封装。
        功能很强，支持 XPath 1.0、XSLT 1.0、扩展 EXSLT、等。还可以用来解析 HTML 格式。
        12. HTMLParser
        以回调方式解析 HTML/XHTML 文件内容的标准库。
        13. Python Imaging Library (PIL)
        这是一个很有名气的 Python 图像处理库，支持常见图像文件格式（BMP、JPG、GIF、PNG、等），可以对图像进行各种常见操作（格式转换、旋转、缩放、剪切、等）。
        14. pyfpdf
        这是 FPDF 的 Python 移植库，用来生成 PDF 文档。
        支持的功能比较全（嵌入字体、嵌入图片），文档也比较详细。
        15. pyPdf / PyPDF2
        pyPdf 目前已经不继续升级维护了。PyPDF2 是 pyPdf 的 fork 并继续增加新功能。
        除了可以提取文件属性，还可以切分/合并文档，加密/解密文档。
        16. PDFMiner
        可以提取 PDF 文件属性以及每页的文本，支持把内容输出为 HTML 格式。
        17. PyWin32
        PyWin32 前面提到过。它可以基于 COM 操作 Office 文档，包括 Word（本地需要安装 Office）。
        18. pyExcelerator
        该库可以支持 Office Excel（97/2000/XP/2003）以及 OpenOffice Calc 的文档。无需依赖外部软件。
        19. PyWin32
        PyWin32 前面提到过。它可以基于 COM 操作 Office 文档，包括 Excel（本地需要安装 Office）。
        20. python-pptx
        该库可以用来生成 pptx（Open XML PowerPoint）格式的文档。
        21. PyWin32
        PyWin32 前面提到过。它可以基于 COM 操作 Office 文档，包括 Excel（本地需要安装 Office）。
        22. PyCHM
        这是基于 chmlib 的 Python 封装库。可以提取 CHM 文件的属性以及每个页面的内容。
        23. PyRTF
        这个 Python 库可以用来处理 RTF（富文本格式）文档。

    9. 游戏开发
        1. PyGame
        跨平台的 Python 第三方库，用来辅助游戏开发的，名气非常大。
        2. PyOpenGL
        封装 OpenGL 的 Python 第三方库。
        3. Python-Ogre
        封装 OGRE（3D 渲染引擎）的 Python 第三方库。

    10. 数值计算 / 科学计算
        1. NumPy
        NumPy 提供了功能强大、性能很高的数值数组，可以用来进行各种数值计算（包括矩阵运算）。
        2. SciPy
        SciPy 依赖 NumPy 提供的多维数组。相比 NumPy，SciPy 提供了更高层的数学运算模块（统计、线性代数、积分、常微分方程求解、傅立叶变换、信号处理、等），被广泛用于科研和工程领域。
    
4. ***<font color=blue>Python 的缺点</font><br>***
    1. 速度慢，Python的运行速度相比C语言确实慢很多，跟JAVA相比也要慢一些，
    因此这也是很多所谓的大牛不屑于使用Python的主要原因，
    但其实这里所指的运行速度慢在大多数情况下用户是无法直接感知到的，
    必须借助测试工具才能体现出来，其实在大多数情况下Python已经完全可以满足
    你对程序速度的要求，除非你要写对速度要求极高的搜索引擎等，这种情况下，
    当然还是建议你用C去实现的。
    2. 代码不能加密，因为PYTHON是解释性语言，它的源码都是以名文形式存放的，
    不过我不认为这算是一个缺点，如果你的项目要求源代码必须是加密的，
    那你一开始就不应该用Python来去实现。
    3. 线程不能利用多CPU问题，这是Python被人诟病最多的一个缺点，
    GIL即全局解释器锁（Global Interpreter Lock），
    是计算机程序设计语言解释器用于同步线程的工具，
    使得任何时刻仅有一个线程在执行，Python的线程是操作系统的原生线程。
    在Linux上为pthread，在Windows上为Win thread，完全由操作系统调度线程的执行。
    一个python解释器进程内有一条主线程，以及多条用户程序的执行线程。
    即使在多核CPU平台上，由于GIL的存在，所以禁止多线程的并行执行。
</textarea>
			<!-- markdown -->
			<pre class="content-markdown"># Python 技术分享

## 一、人生苦短 我用Python

**Python是一种代表简单主义思想的语言。**
**阅读一个良好的Python程序就感觉像是在读英语一样，尽管这个英语的要求非常严格！**
**Python的这种伪代码本质是它最大的优点之一。**
**它使你能够专注于解决问题而不是去搞明白语言本身。**

1. ***<font color=blue>python 简介</font>***
    1. 概括<br>
    Python确实是一种十分精彩又强大的语言。
    它合理地结合了高性能与使得编写程序简单有趣的特色---简单
    2. 易学<br>
    就如同你即将看到的一样，Python极其容易上手。前面已经提到了，Python有极其简单的语法。
    3. 免费、开源<br>
    Python是FLOSS（自由/开放源码软件）之一。简单地说，你可以自由地发布这个软件的拷贝、阅读它的源代码、对它做改动、把它的一部分用于新的自由软件中。FLOSS是基于一个团体分享知识的概念。这是为什么Python如此优秀的原因之一——它是由一群希望看到一个更加优秀的Python的人创造并经常改进着的。
    4. 高层语言<br>
    当你用Python语言编写程序的时候，你无需考虑诸如如何管理你的程序使用的内存一类的底层细节。可移植性
    由于它的开源本质，Python已经被移植在许多平台上（经过改动使它能够工作在不同平台上）。如果你小心地避免使用依赖于系统的特性，那么你的所有Python程序无需修改就可以在下述任何平台上面运行。
    这些平台包括Linux、Windows、FreeBSD、Macintosh、Solaris、OS/2、Amiga、AROS、AS/400、BeOS、OS/390、z/OS、Palm OS、QNX、VMS、Psion、Acom RISC OS、VxWorks、PlayStation、Sharp Zaurus、Windows CE甚至还有PocketPC！
    5. 解释性<br>
    一个用编译性语言比如C或C++写的程序可以从源文件（即C或C++语言）转换到一个你的计算机使用的语言（二进制代码，即0和1）。这个过程通过编译器和不同的标记、选项完成。当你运行你的程序的时候，连接/转载器软件把你的程序从硬盘复制到内存中并且运行。
    而Python语言写的程序不需要编译成二进制代码。你可以直接从源代码 运行 程序。在计算机内部，Python解释器把源代码转换成称为字节码的中间形式，然后再把它翻译成计算机使用的机器语言并运行。事实上，由于你不再需要担心如何编译程序，如何确保连接转载正确的库等等，所有这一切使得使用Python更加简单。由于你只需要把你的Python程序拷贝到另外一台计算机上，它就可以工作了，这也使得你的Python程序更加易于移植。
    6. 面向对象<br>
    Python即支持面向过程的编程也支持面向对象的编程。
    在面向过程的语言中，程序是由过程或仅仅是可重用代码的函数构建起来的。在面向对象的语言中，程序是由数据和功能组合而成的对象构建起来的。与其他主要的语言如C++和Java相比，Python以一种非常强大又简单的方式实现面向对象编程。
    7. 可扩展性<br>
    如果你需要你的一段关键代码运行得更快或者希望某些算法不公开，你可以把你的部分程序用C或C++编写，然后在你的Python程序中使用它们。
    8. 可嵌入性<br>
    你可以把Python嵌入你的C/C++程序，从而向你的程序用户提供脚本功能。
    9. 丰富的库<br>
    Python标准库确实很庞大。它可以帮助你处理各种工作，包括正则表达式、文档生成、单元测试、线程、数据库、网页浏览器、CGI、FTP、电子邮件、XML、XML-RPC、HTML、WAV文件、密码系统、GUI（图形用户界面）、Tk和其他与系统有关的操作。记住，只要安装了Python，所有这些功能都是可用的。这被称作Python的“功能齐全”理念。

2. ***<font color=blue>Python 之禅</font>***
    ```python
    import this
    ```
    优美胜于丑陋。<br>
    显式胜于隐式。<br>
    简单胜于复杂。<br>
    复杂胜于难懂。<br>
    扁平胜于嵌套。<br>
    分散胜于密集。<br>
    可读性应当被重视。<br>
    尽管实用性会打败纯粹性，特例也不能凌驾于规则之上。<br>
    除非明确地使其沉默，错误永远不应该默默地溜走。<br>
    面对不明确的定义，拒绝猜测的诱惑。<br>
    用一种方法，最好只有一种方法来做一件事。<br>
    虽然一开始这种方法并不是显而易见的，但谁叫你不是 Python 之父呢。<br>
    做比不做好，但立马去做有时还不如不做。<br>
    如果实现很难说明，那它是个坏想法。<br>
    如果实现容易解释，那它有可能是个好想法。<br>
    命名空间是个绝妙的想法，让我们多多地使用它们吧！<br>
    
3. ***<font color=blue>Python 应用领域及常用开发包</font>***
    1. 算法<br>
        1. re 正则表达式的标准库。
        2. StringIO / cStringIO
        以读写文件的方式来操作字符串（有点类似于内存文件）。
        cStringIO 是 C 语言实现的，提供高性能；
        而 StringIO 是 Python 实现的，提供 Unicode 兼容性。
        3. chardet
        chardet 可以猜测任意一段文本的字符集编码。对于编码类型未知的文本，它会很有用。
        chardet 既可以作为模块来使用，也可以作为命令行工具来使用。
        4. math
        这个标准库顾名思义，封装了常用的数学函数（开方、指数、对数、三角函数、等）
        5. random
        这个标准库顾名思义，是用来进行随机数生成的
        6. hashlib
        在 Python 2.5 版本加入到标准库中。通过它，你可以很方便地计算各种散列值。
        它支持的哈希算法有：MD5 SHA1 SHA224 SHA256 SHA384 SHA512
        7. PyCrypto
        这个库包含了常见的对称加密算法（DES、AES、IDEA、等）、公钥加密算法（RSA、DSA、等）、散列算法（MD5、SHA1、RIPEMD、等）。
        8. pyOpenSSL
        OpenSSL 在加密领域可是大名鼎鼎。这个库使用 Python 对 OpenSSL 进行很薄的封装。
 
    2. 跨编程语言<br>
    Python 可以很容易地跟其它编程语言整合。整合之后，就可以在 Python 代码中使用其它编程语言的函数、模块、库，非常爽！
        1. ctypes
        你可以很方便地调用 C/C++ 动态库导出的函数，可以在 Python 中使用各种 C/C++ 的数据类型（比如指针）。
        2. SWIG
        这是一个很老牌的、有名气的工具，它可以把多种语言（Java、Python、C#、Ruby、PHP、Perl、Lua、Go、等）整合到 C/C++ 中。
        3. Cython
        这个工具可以让你用 Python 的语法写扩展模块的代码，然后它帮你把 Python 代码编译为本地动态库（机器码）。
        用它编译出来的扩展模块，其性能跟 C/C++ 编写的扩展模块相当。
        4. Jython
        通过 Jython 可以让 Python 代码运行在 JVM 上，并且可以调用其它的 JVM 语言的代码（比如 Java Scale）
        5. IronPython
        通过 IronPython 可以让 Python 代码运行在 dotNET 平台上，并且可以调用其它的 dotNET 语言的代码（比如 C# F#）
        6. PyObjC
        这是用 Python 封装 Mac OS X 上的 Objective-C 库。

    3. 操作系统相关
        1. os
        这是一个非常基本的标准库，提供了常见的操作系统相关操作。
        2. shutil
        相对于 os 标准库，shutil 标准库提供了一些比较高级的文件和目录操作（目录递归复制、目录递归删除、目录压缩打包、等）
        3. fnmatch
        这个标准库用于匹配文件名（支持通配符）
        4. tempfile
        使用这个标准库，可以安全地生成临时文件或临时目录。
        5. subprocess / multiprocessing
        用于进程管理的标准库，可以启动子进程，通过标准输入输出跟子进程交互。
        6. signal
        用于进程信号处理的标准库。
        7. mmap
        提供了内存映射文件的支持。
        8. PyWin32
        这个第三方库封装了 Windows API 及 COM API。通过它可以方便地用 Python 进行 Windows 编程（调用 COM 组件、编写 Windows 服务、等）。
        9. syslog
        通过这个标准库，可以很方便地跟 POSIX 的 syslog 服务进行交互。
        10. PyInstaller
        PyInstaller 可以把你的 Python 代码制作成独立运行的程序（不依赖 Python 环境就可以运行）。
        该工具支持多种操作系统，包括：Windows、Linux、Mac OS X、Solaris、AIX、等。
        11. py2exe
        py2exe 的功能类似 PyInstaller，但只支持 Windows 平台。
        12. py2app
        它很类似于 py2exe，差别在于 py2exe 支持 Windows 平台，而 py2app 支持 Mac OS X 平台。
        13. EasyInstall / Setuptools
        这套工具可以帮助你进行第三方库的管理（下载、编译、安装、升级、卸载）

    4. Web 开发<br>
    如今 Web 开发很火，俺把 Web 相关的单独分一类。
        1. httplib / httplib2 / http.request / urllib.parse
        这几个库可以进行各种 HTTP 客户端请求（GET、POST、等）。
        Python2 的模块名叫 httplib / httplib2
        Python3 模块名改为 http.request / urllib.parse
        2. SimpleHTTPServer / http.server
        提供轻量级 HTTP Server 的标准库。
        Python2 的模块名叫 SimpleHTTPServer
        Python3 模块名改为 http.server
        3. Django
        在 Python 社区，Django 是目前最有影响力的 Web 开发框架。该框架很重型，内置了 Web 服务端开发常用的组件。
        Django 应用范围很广，比如 Google 的 Web 开发平台 GAE 就支持它。
        Django 完全支持前面提到的 Jython 运行环境，可以运行在任何 J2EE 服务器上。
        4. Tornado
        这是 FriendFeed 开发的 Web 框架。FriendFeed 被 Facebook 收购之后，该框架被开源。
        5. Flask
        这是一个很轻量级的 Web 框架，但是扩展性很好。
        6. Pyjamas / pyjs
        这是从 GWT（Google Web Toolkit）移植的第三方库。提供了 Python 到 JS 的编译，AJAX 框架等功能。 Pyjamas 甚至能用来开发桌面 GUI 应用。
        7. pyjaco
        这也是一个 Python 到 JavaScript 的编译工具。
        8. webbrowser
        操纵当前系统的默认浏览器，访问指定 URL 的页面。
        9. pyv8
        v8 是 Google 开发的 JavaScript 解释引擎。这是对 v8 引擎的 Python 封装。
        10. PyWebKitGtk
        WebKitGtk 是一个基于 WebKit 的 Web 渲染引擎。这是 WebKitGtk 的 Python 封装。

    5. 网络编程
        1. Scapy
        这是一个底层的网络库，可以在不同协议层次构造网络数据包（包括链路层、网络层、传输层），还支持 Sniffer 抓包。
        搞网络安全的网友应该会喜欢这个库。
        2. socket
        Python 标准库很早就提供了对 socket 编程的支持。
        这个标准库是对伯克利套接字进行简单的封装，其 API 基本上跟 BSD SOCKET 一一对应。
        3. asyncore
        这个标准库提供了异步 SOCKET 的支持。
        4. asynchat
        这个标准库基于上述的 asyncore，提供更高层的 API，简化异步通讯编程。
        5. ftplib
        封装 FTP 协议（文件传输）的标准库
        6. smtplib
        封装 SMTP 协议（邮件发送）的标准库
        7. imaplib
        封装 IMAP 协议（邮件接收）的标准库
        8. poplib
        封装 POP3 协议（邮件接收）的标准库
        9. PycURL
        cURL 是一个功能很强的网络库/网络工具，支持 N 多应用层协议。这是用 Python 封装的第三方库。
        关于 cURL，俺前几年写过一篇博文推荐它（在这里）。
        10. jabber.py
        Jabber（又称 XMPP）是IM（即时通信）协议的标准。这是用 Python 封装的第三方库。
        11. irclib
        IRC 是 Internet Relay Chat 的缩写。这是用 Python 封装的第三方库。
        12. json
        标准库，提供 JSON 格式的编码和解码。
        13. base64
        标准库，提供 Base16、Base32、Base64 格式的编码和解码。
        14. binhex
        标准库，提供 binhex4 格式的编码和解码。
        15. uu
        标准库，提供 uuencode 格式的编码和解码。
        16. Twisted
        这是一个基于 Python 网络通讯开发框架，有十多年历史，名气很大。
        它的某些设计类似于 C++ 的 ACE 框架。除了能用来进行传输层（TCP UDP）的开发，还提供了若干应用层协议（HTTP、XMPP、SSH、IRC、等）的支持。

    6. 数据库
    为了便于数据库开发，Python 社区制定了数据库的 API 规范（PEP 249）。
    只要是涉及到数据库操作，标准库和大部分第三方库都会遵循该规范。请看如下几个模块的示例代码。
        1. pyODBC
        pyODBC 封装了 ODBC API，通过它可以访问各种数据库（只要有 ODBC 驱动即可）。
        2. ceODBC
        又一个封装 ODBC API 的第三方库
        3. Jython
        Jython 前面提到过。它可以基于 JDBC 操作数据库。
        4. PyWin32
        PyWin32 前面提到过。它可以基于 ADO 操作数据库。
        5. IronPython
        IronPython 前面提到过。它可以基于 ADO.NET 操作数据库。
        6. MySQL for Python
        操作 MySQL 的第三方库。
        7. psycopg
        操作 PostgreSQL 的第三方库。
        8. psycopg
        操作 PostgreSQL 的第三方库。
        9. cx_Oracle
        操作 Oracle 的第三方库。
        10. pymssql
        操作微软 SQL Server 的第三方库。
        11. ibm-db
        操作 DB2 的第三方库。
        12. sqlite3
        sqlite3 从 Python 2.5 版本开始加入到标准库中。通过它，你可以很方便地操作 SQLite 数据库。
        SQLite 是一个很优秀的轻量级数据库，俺前几年写过一篇博文推荐它（在这里）。
        13. PyBSDDB
        操作 Berkeley DB 的第三方库。
        14. SQLAlchemy
        SQLAlchemy 支持的数据库有：MySQL、PostgreSQL、Sqlite、Oracle、MS SQL Server、Firebird、Sybase SQL Server、Informix、等。
        15. SQLObject
        SQLObject 支持的数据库有：MySQL、PostgreSQL、Sqlite、MS SQL Server、Firebird、Sybase SQL Server、SAP DB、等。
 
    7. 桌面 GUI 开发
        1. Tk 是一个跨平台的界面组件库。
        Tkinter / tkinter
        这是 Python 内置的标准库，封装了 Tcl/Tk 界面库。
        Python2 的模块名叫 Tkinter
        Python3 模块名改为 tkinter
        2. wxWidgets 是 C++ 开发的跨平台框架（不仅包括 GUI，还有其它功能）。
        wxPython
        在所有的 wxWidgets 的 Python 封装库中，这个是名气最大的。
        Ulipad（知名的国产的 Python IDE）就是基于 wxPython 开发的。
        3. PythonCard
        又一个基于 wxWidgets 的 GUI 库。
        4. GTK+ 全称是（GIMP Toolkit），由 C 开发的跨平台界面组件库。
        PyGTK
        这是 Python 对 GTK 的封装。
        5. Qt 是 C++ 开发的跨平台框架（不仅包括 GUI，还有其它功能）。
        PyQt
        这是 Python 对 Qt 的封装。
        PySide
        这也是 Python 对 Qt 的封装。
        6. FLTK 全称是（ Fast Light Tool Kit），由 C++ 开发的跨平台、轻量级界面组件库。
        PyFLTK
        这是 Python 对 FLTK 的封装。
        7. PyWin32
        PyWin32 前面提到过。它可以提供原生的 Windows GUI 界面。
        8. IronPython
        IronPython 前面提到过。它可以提供 dotNET 的 GUI 界面。
        9. Jython
        Jython 前面提到过。它可以提供基于 Java 的 Swing 界面。
        10. EasyGUI
        EasyGUI 这是一个很轻量级的库。跟其它 GUI 不同之处在于——没有事件驱动。
        11. PyGUI
        PyGUI 是一个更高层的 GUI 库，底层分别封装了 PyWin32（Windows 平台）、PyGTK（Linux 平台）、PyObjC（Mac OS X 平台）。
        12. Kivy
        跨平台的多媒体框架和界面库，用来开发比较炫的界面。
        除了支持桌面操作系统，还支持 Android / iOS，支持多点触摸。
        13. OcempGUI
        基于 PyGame 的一个跨平台 GUI 库。PyGame 下面会提到。
        14. matplotlib
        这是一个有名的图形库，主要用来绘制数学相关的图形。
        跟后面提到的 SciPy 整合可以起到类似 MATLAB 的效果。效果图在“这里”。
        15. Gnuplot.py
        这是 Python 对 gnuplot 的封装。gnuplot 的效果图在“这里”。
        16. PyQtGraph
        这是一个纯 Python 的库，依赖于 PyQt4 / PySide。效果图在“这里”。
        17. PyX
        这个库可以跟 TeX / LaTeX 无缝整合，支持导出为 PostScript / PDF 格式。适合用来制作报表。效果图在“这里”。
        18. Chaco
        这是一个商业公司维护的库，主要提供2维图表。

    8. 处理文件格式
        1. zipfile
        处理 zip 格式的标准库。
        2. bz2
        处理 bzip2 格式的标准库。
        3. gzip
        处理 gzip 格式的标准库。
        4. zlib
        处理 gzip 格式的标准库。
        5. tarfile
        处理 tar 格式的标准库。
        6. PyLZMA
        处理 7zip 格式的第三方库。
        7. rarfile
        处理 rar 格式的第三方库。
        8. msilib
        处理 msi 格式的标准库，从 Python 2.5 版本开始提供。
        9. xml.dom / xml.miniDom / xml.etree.ElementTree
        用 DOM（Document Object Model）方式处理 XML 文件的标准库。
        10. xml.sax / xml.parsers.expat
        用 SAX（Simple API for XML）方式处理 XML 文件的标准库。
        11. lxml
        著名的 C 语言库 libxml 和 libxslt 的 Python 封装。
        功能很强，支持 XPath 1.0、XSLT 1.0、扩展 EXSLT、等。还可以用来解析 HTML 格式。
        12. HTMLParser
        以回调方式解析 HTML/XHTML 文件内容的标准库。
        13. Python Imaging Library (PIL)
        这是一个很有名气的 Python 图像处理库，支持常见图像文件格式（BMP、JPG、GIF、PNG、等），可以对图像进行各种常见操作（格式转换、旋转、缩放、剪切、等）。
        14. pyfpdf
        这是 FPDF 的 Python 移植库，用来生成 PDF 文档。
        支持的功能比较全（嵌入字体、嵌入图片），文档也比较详细。
        15. pyPdf / PyPDF2
        pyPdf 目前已经不继续升级维护了。PyPDF2 是 pyPdf 的 fork 并继续增加新功能。
        除了可以提取文件属性，还可以切分/合并文档，加密/解密文档。
        16. PDFMiner
        可以提取 PDF 文件属性以及每页的文本，支持把内容输出为 HTML 格式。
        17. PyWin32
        PyWin32 前面提到过。它可以基于 COM 操作 Office 文档，包括 Word（本地需要安装 Office）。
        18. pyExcelerator
        该库可以支持 Office Excel（97/2000/XP/2003）以及 OpenOffice Calc 的文档。无需依赖外部软件。
        19. PyWin32
        PyWin32 前面提到过。它可以基于 COM 操作 Office 文档，包括 Excel（本地需要安装 Office）。
        20. python-pptx
        该库可以用来生成 pptx（Open XML PowerPoint）格式的文档。
        21. PyWin32
        PyWin32 前面提到过。它可以基于 COM 操作 Office 文档，包括 Excel（本地需要安装 Office）。
        22. PyCHM
        这是基于 chmlib 的 Python 封装库。可以提取 CHM 文件的属性以及每个页面的内容。
        23. PyRTF
        这个 Python 库可以用来处理 RTF（富文本格式）文档。

    9. 游戏开发
        1. PyGame
        跨平台的 Python 第三方库，用来辅助游戏开发的，名气非常大。
        2. PyOpenGL
        封装 OpenGL 的 Python 第三方库。
        3. Python-Ogre
        封装 OGRE（3D 渲染引擎）的 Python 第三方库。

    10. 数值计算 / 科学计算
        1. NumPy
        NumPy 提供了功能强大、性能很高的数值数组，可以用来进行各种数值计算（包括矩阵运算）。
        2. SciPy
        SciPy 依赖 NumPy 提供的多维数组。相比 NumPy，SciPy 提供了更高层的数学运算模块（统计、线性代数、积分、常微分方程求解、傅立叶变换、信号处理、等），被广泛用于科研和工程领域。
    
4. ***<font color=blue>Python 的缺点</font><br>***
    1. 速度慢，Python的运行速度相比C语言确实慢很多，跟JAVA相比也要慢一些，
    因此这也是很多所谓的大牛不屑于使用Python的主要原因，
    但其实这里所指的运行速度慢在大多数情况下用户是无法直接感知到的，
    必须借助测试工具才能体现出来，其实在大多数情况下Python已经完全可以满足
    你对程序速度的要求，除非你要写对速度要求极高的搜索引擎等，这种情况下，
    当然还是建议你用C去实现的。
    2. 代码不能加密，因为PYTHON是解释性语言，它的源码都是以名文形式存放的，
    不过我不认为这算是一个缺点，如果你的项目要求源代码必须是加密的，
    那你一开始就不应该用Python来去实现。
    3. 线程不能利用多CPU问题，这是Python被人诟病最多的一个缺点，
    GIL即全局解释器锁（Global Interpreter Lock），
    是计算机程序设计语言解释器用于同步线程的工具，
    使得任何时刻仅有一个线程在执行，Python的线程是操作系统的原生线程。
    在Linux上为pthread，在Windows上为Win thread，完全由操作系统调度线程的执行。
    一个python解释器进程内有一条主线程，以及多条用户程序的执行线程。
    即使在多核CPU平台上，由于GIL的存在，所以禁止多线程的并行执行。
</pre>
			<!-- html -->
			<div class="content-html" id="leanote-content-html"></div>
		</div>
	</div>

<!-- 该js供其它处理 -->
<script src="../leanote-markdown.js"></script>
<script src="http://leanote.github.io/markdown-to-html/markdown-to-html.min.js"></script>
<script>
function init() {
	markdownToHtml(document.getElementById('leanote-content-markdown').value, document.getElementById('leanote-content-html'), function(html) {
		// 解析后执行
		if(window.markdownParsed) {
			window.markdownParsed(html);
		}
	});
	var $m = document.getElementById('tab-markdown');
	var $h = document.getElementById('tab-html');
	var $cc = document.getElementById('content-container');
	function toggleToHtml(isToHtml) {
		$cc.className = isToHtml ? 'content-container html' : 'content-container';
	}
	$m.addEventListener('click', function() {
		toggleToHtml(false);
	});
	$h.addEventListener('click', function() {
		toggleToHtml(true);
	});
}

// 如果不要自动解析html, notParseMarkdown在leanote-markdown.js中定义
if(!window.notParseMarkdown) {
	init();
}
</script>
</body>
</html>